@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;

}

.accordion{
    width: 500px;
    

}
.accordion .contentBx{
    position: relative;
    margin: 10px;
}

.accordion .contentBx .label{
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 10px;
    color: #fff;
    background: #2694af;
    cursor: pointer;
}

.accordion .contentBx  .label::before
{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-70%);
    font-size: 1.5em;
}
.accordion .contentBx .content{
    position: relative;
    padding: 1px;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: .6s;
    width: 100%;
}

.accordion .contentBx.active  .label::before{
    content: '-';
}

.accordion .contentBx.active .content{
    height: 150px;
    padding: 10px;

}